

<?xml version="1.0" encoding="UTF-8" ?>
    <widget>

    <!-- versionCode is optional and Android only -->

    <name>TNM Calculator - Test</name>

    <description>
      Desc
    </description>

    <author>
      Altrimedia
    </author>

    <!-- We'll include the Barcode plugin as an example -->
    <gap:plugin name="InAppBrowser" value="org.apache.cordova.core.InAppBrowser" />
</widget>